<div class="wrapper" data-modal>
  <div class="container burger-menu">
    <button class="burger-btn-close" type="button" data-modal-close>
      <svg class="burger-svg-close" width="16" height="16">
        <use href="{=$icon-path}"></use>
      </svg>
    </button>
    <nav class="burger-nav">
      <ul class="burger-list">
        <li class="burger-item current">
          <a class="burger-link current" href="#work">How It Works</a>
        </li>
        <li class="burger-item">
          <a class="burger-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="burger-item">
          <a class="burger-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="btn burger-btn-send" type="submit">Shop now</button>
  </div>
</div>
