<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="" height="">
          <use href="../img/icon.svg#logo-icon"></use>
        </svg>
        <svg class="header-logo-text" width="" height="">
          <use href="../img/icon.svg#icon-logo-text"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="">how it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">vegetables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">reviews</a>
        </li>
        <button class="header-button">shop now</button>
      </ul>
    </nav>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="32" height="32">
        <use href="../img/icon.svg#icon-burger-button"></use>
      </svg>
    </button>
  </div>
</header>
