<section class="work" id="work">
  <h2 class="visually-hidden">How it works</h2>
  <div class="container">
    <div class="img-box">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            {=$image-path}work-desktop.webp    1x,
            {=$image-path}work-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            {=$image-path}work-tablet.webp    1x,
            {=$image-path}work-tablet@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            {=$image-path}work-mobile.webp    1x,
            {=$image-path}work-mobile@2x.webp 2x
          "
        />
        <img
          class="work-image image"
          src=" {=$image-path}work-desktop.webp"
          alt="How it work"
          width="440"
          height="560"
        />
      </picture>
    </div>
    <div class="work-wrapper">
      <div class="work-wrapper-text">
        <p class="work-caption title">
          To order your <span class="color-caption">vegetable</span> basket,
          simply follow these <span class="color-caption">easy steps</span>
        </p>
        <p class="work-desc text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <div class="list-wrapper">
        <ol class="work-list">
          <li class="work-item">
            <p class="work-text text">
              Just choose <span class="bold-text">the vegetable</span> you want
              to order by clicking on the checkboxes
              <span class="bold-text">next to it.</span>
            </p>
          </li>
          <li class="work-item">
            <p class="work-text text">
              Click on <span class="bold-text">the basket</span> and fill out
              the form.
            </p>
          </li>
          <li class="work-item">
            <p class="work-text text">
              Sit back and relax! Your
              <span class="bold-text">fresh vegetables</span> basket will be
              delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
