.advertisement {
  padding-top: 80px;
  padding-bottom: 80px;

  background: #fbfbfb;
}
.advertisement-text {
  font-weight: 600;
  font-size: 48px;

  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

@media only screen and (min-width: 768px) {
  .advertisement-text {
    font-size: 64px;

    line-height: 1;
    letter-spacing: -0.01em;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement-text {
    font-size: 76px;
  }
}

.advertisement-span {
  display: inline-block;

  border-radius: 12px;
  width: 335px;

  color: #fbfbfb;
  background: #576f35;
}

@media only screen and (min-width: 768px) {
  .advertisement-span {
    width: 675px;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement-span {
    width: 808px;
  }
}
