.hint {
  padding-top: 80px;
  padding-bottom: 80px;

  background: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .hint {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hint-text {
  font-weight: 600;
  font-size: 48px;

  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

@media only screen and (min-width: 768px) {
  .hint-text {
    font-size: 64px;
    line-height: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .hint-text {
    padding-left: 16px;
    max-width: 1054px;
    font-size: 76px;
  }
}

.hint-span {
  display: inline-block;

  border-radius: 12px;

  color: #fbfbfb;
  background: #576f35;
}

@media only screen and (min-width: 768px) {
  .hint-span {
    width: 675px;
  }
}

@media only screen and (min-width: 1280px) {
  .hint-span {
    margin-left: -16px;
    padding-left: 16px;

    min-width: 808px;

    white-space: nowrap;
  }
}
