.page-header {
  position: absolute;
  width: 100%;
  padding: 20px 0;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.header-btn {
  display: none;
}

.burger-btn {
  width: 32px;
  height: 32px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo-icon {
  max-width: 168px;
  height: 16px;
  fill: #fbfbfb;
}
.header-logo-text {
  fill: #fbfbfb;
  width: 146px;
  height: 12px;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.burger-icon {
  display: block;
  stroke-width: 3px;
  stroke: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .page-header {
    padding: 32px 0;
  }
  .nav-logo-icon {
    max-width: 216px;
    height: 20px;
    fill: #fbfbfb;
  }

  .burger-btn {
    width: 40px;
    height: 40px;
  }

  .burger-icon {
    display: block;
    stroke-width: 3px;
    stroke: #fbfbfb;
  }
}
@media only screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
  .header-btn {
    color: #fbfbfb;
    display: block;
  }
  .nav-link {
    text-transform: capitalize;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: 20px;
  }
}
