.vegetables {
  background-color: var(--bg-vgtables);
  padding-top: 80px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .vegetables {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.vegetables-hero {
  text-align: left;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .vegetables-hero {
    margin-bottom: 52px;
    width: 626px;
  }
}
.vegetables-title {
  color: #fbfbfb;
  font-size: 48px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .vegetables-title {
    font-size: 64px;
    margin-bottom: 24px;
  }
}
.vegetables-span {
  color: #d4bfc4;
}
.vegetables-text {
  font-size: 14px;
  line-height: 1.4;
}
@media only screen and (min-width: 768px) {
  .vegetables-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.vegetables-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .vegetables-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px 24px;
  }
}
.vegetables-item {
  border-radius: 40px;
  padding: 32px 24px;
  background-color: #fbfbfb;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .vegetables-item {
    width: calc((100% - 24px) / 2);
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables-item {
    padding: 32px;
    width: calc((100% - 48px) / 3);
  }
  .vegetables-item:hover {
    transform: scale(1.05);
  }
}
.vegetables-title-fruct {
  font-size: 28px;

  color: var(--bg-vgtables);
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .vegetables-title-fruct {
    font-size: 32px;
  }
}
.vegetables-text-fruct {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .vegetables-text-fruct {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables-text-fruct {
    margin-bottom: 8px;
  }
}
