.work {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 80px;
}
.work::before,
.work::after {
  content: '';
  position: absolute;
  width: 100%; /* Кожен колір займає половину висоти */
  left: 0;
}

.work::before {
  height: 40%;
  top: 0;
  background-color: #7a3145; /* Перший колір фону */
}
.work::after {
  height: 60%;
  bottom: 0;
  background-color: #576f35; /* Другий колір фону */
}
.work .container {
  z-index: 1;
}
@media only screen and (min-width: 375px) {
  .work::before {
    height: 44%;
  }
  .work::after {
    height: 56%;
  }
}

.img-box {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .work {
    padding: 100px 0;
  }
  .work .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-box {
    padding: 0 32px;
    margin-bottom: 100px;
  }
  .work-image {
    width: 640px;
  }
  .work::before {
    height: 54%;
  }
  .work::after {
    height: 46%;
  }
}

@media only screen and (min-width: 1280px) {
  .work .container {
    flex-direction: row;
  }
  .work::before,
  .work::after {
    content: '';
    position: absolute;
    height: 100%;
    top: -1px;
  }
  .work::before {
    right: 0;
    width: 50%;
  }
  .work::after {
    left: 50%;
    width: 50%;
  }
  .img-box {
    padding: 0 100px 0 0;
    margin: 0;
  }
  .work-image {
    width: 440px;
  }
  .work .container {
    width: 100%;
    justify-content: space-between;
  }
}

.work-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

@media only screen and (min-width: 768px) {
  .work-wrapper {
    width: 440px;
    padding-top: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .work-wrapper {
    padding: 0;
  }
}

.work-wrapper-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.work-caption {
  font-size: 28px;
  color: #fbfbfb;
}
.work-desc {
  font-size: 14px;
  line-height: 1.43;
}
@media only screen and (min-width: 768px) {
  .work-caption {
    font-size: 32px;
  }
}

.color-caption {
  color: #d4bfc4;
}

@media only screen and (min-width: 768px) {
  .work-desc {
    font-size: 16px;
    line-height: 1.25;
  }
}
.work-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  padding-inline-start: 0;
  list-style: none;
  counter-reset: custom-counter;
}

@media only screen and (min-width: 768px) {
  .work-list {
    margin-top: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .work-list {
    margin-top: 104px;
  }
}

.work-list li {
  counter-increment: custom-counter;
}

.work-list li::before {
  display: flex;
  align-items: center;
  content: '';
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  display: inline-block;
  background-color: #7a3145;
  border: 5px solid #d4bfc4;
  border-radius: 50%;
}

.work-list li::after {
  content: counter(custom-counter);
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.item-wrapper {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: 76px;
  gap: 24px;
  background-color: #fbfbfb;
  padding: 12px 24px 12px 100px;
  border-radius: 15px;
  width: 100%;
}

.work-item {
  font-size: 12px;
  line-height: 1.43;
  color: #858585;
}
@media only screen and (min-width: 375px) {
  .work-item {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .work-item {
    font-size: 16px;
    line-height: 1.25;
  }
  .work-list li::before {
    left: 29px;
  }
  .work-list li::after {
    left: 49px;
  }
  .item-wrapper {
    padding-left: 99px;
  }
}

.bold-text {
  font-weight: 700;
  color: #141414;
}

/* #endregion */
