.work {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 80px;
  background: linear-gradient(
    to top,
    #576f35,
    #576f35 60%,
    #7a3145 50%,
    #7a3145 50%
  );
}
@media only screen and (min-width: 375px) {
  .work {
    background: linear-gradient(
      to top,
      #576f35,
      #576f35 55.5%,
      #7a3145 50%,
      #7a3145 50%
    );
  }
}
.img-box {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .work {
    padding: 100px 0;
    background: linear-gradient(
      to top,
      #576f35,
      #576f35 45%,
      #7a3145 45%,
      #7a3145 45%
    );
  }
  .work .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-box {
    padding: 0 32px;
    margin-bottom: 100px;
  }
  .work-image {
    width: 640px;
  }
}
@media only screen and (min-width: 1280px) {
  .work .container {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .work {
    padding: 100px 0;
    background: linear-gradient(
      to left,
      #576f35,
      #576f35 50%,
      #7a3145 50%,
      #7a3145 50%
    );
  }
  .img-box {
    padding: 0 100px 0 0;
    margin: 0;
  }
  .work-image {
    width: 440px;
  }
}
.work-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}
.work-wrapper-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .work-wrapper {
    width: 440px;
    padding-top: 100px;
  }
  .work-wrapper-text {
    margin-bottom: 52px;
  }
}
@media only screen and (min-width: 1280px) {
  .work-wrapper {
    padding: 0;
  }
  .work-wrapper-text {
    margin-bottom: 104px;
  }
}
.work-caption {
  font-size: 28px;
  color: #fbfbfb;
}
.work-desc {
  font-size: 14px;
  line-height: 1.43;
}
@media only screen and (min-width: 768px) {
  .work-caption {
    font-size: 32px;
  }
}
.color-caption {
  color: #d4bfc4;
}
@media only screen and (min-width: 768px) {
  .work-desc {
    font-size: 16px;
    line-height: 1.25;
  }
}
.work-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-inline-start: 0;
  list-style: none;
  counter-reset: custom-counter;
}
.work-list li {
  counter-increment: custom-counter;
}
.work-list li::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  display: inline-block;
  background-color: #7a3145;
  border: 5px solid #d4bfc4;
  border-radius: 50%;
}
.work-list li::after {
  content: counter(custom-counter);
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.work-item {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  height: 76px;
  gap: 24px;
  background-color: #fbfbfb;
  padding: 12px 24px 12px 100px;
  border-radius: 15px;
  width: 100%;
}
.work-text {
  font-size: 12px;
  line-height: 1.43;
  color: #858585;
}
@media only screen and (min-width: 375px) {
  .work-text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .work-item {
    padding-left: 99px;
  }
  .work-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
.bold-text {
  font-weight: 700;
  color: #141414;
}
